HelpDeskManager.UI/Service References/HelpDeskManagerService/HelpDeskManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46657/Services/HelpDeskManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" />
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q1:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q2:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q3:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="DepartmentCollectionResult" nillable="true" type="q4:ArrayOfBODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q5:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="DepartmentCollectionFromSearchFieldsResult" nillable="true" type="q6:ArrayOfBODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q7:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Department_IssueCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q8:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Department_IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Department_IssueCollectionResult" nillable="true" type="q9:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Department_StaffCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q10:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Department_StaffCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Department_StaffCollectionResult" nillable="true" type="q11:ArrayOfBOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q12:BODepartment" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boIssue" nillable="true" type="q13:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q14:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffToDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q15:BODepartment" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boStaff" nillable="true" type="q16:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffToDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllStaffFromDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDepartment" nillable="true" type="q17:BODepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllStaffFromDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetDesignationResult" nillable="true" type="q18:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q19:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q20:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="DesignationCollectionResult" nillable="true" type="q21:ArrayOfBODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesignationCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q22:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="DesignationCollectionFromSearchFieldsResult" nillable="true" type="q23:ArrayOfBODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q24:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignationCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesignationCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Designation_StaffCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q25:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Designation_StaffCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Designation_StaffCollectionResult" nillable="true" type="q26:ArrayOfBOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Designation_TechnicianCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q27:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Designation_TechnicianCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Designation_TechnicianCollectionResult" nillable="true" type="q28:ArrayOfBOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffToDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q29:BODesignation" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boStaff" nillable="true" type="q30:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffToDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllStaffFromDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q31:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllStaffFromDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicianToDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q32:BODesignation" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boTechnician" nillable="true" type="q33:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicianToDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTechnicianFromDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boDesignation" nillable="true" type="q34:BODesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTechnicianFromDesignationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssue" nillable="true" type="q35:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssueCollectionResult" nillable="true" type="q36:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssue" nillable="true" type="q37:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssueCollectionFromSearchFieldsResult" nillable="true" type="q38:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssue" nillable="true" type="q39:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetIssueStatusResult" nillable="true" type="q40:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q41:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssueStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q42:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssueStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssueStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssueStatusCollectionResult" nillable="true" type="q43:ArrayOfBOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueStatusCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q44:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssueStatusCollectionFromSearchFieldsResult" nillable="true" type="q45:ArrayOfBOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q46:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatusCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueStatusCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatus_IssueCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q47:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueStatus_IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssueStatus_IssueCollectionResult" nillable="true" type="q48:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q49:BOIssueStatus" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boIssue" nillable="true" type="q50:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToIssueStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromIssueStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssueStatus" nillable="true" type="q51:BOIssueStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromIssueStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetIssuetypeResult" nillable="true" type="q52:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q53:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewIssuetypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q54:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssuetypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssuetypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssuetypeCollectionResult" nillable="true" type="q55:ArrayOfBOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssuetypeCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q56:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="IssuetypeCollectionFromSearchFieldsResult" nillable="true" type="q57:ArrayOfBOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q58:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuetypeCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssuetypeCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Issuetype_IssueCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q59:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Issuetype_IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Issuetype_IssueCollectionResult" nillable="true" type="q60:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q61:BOIssuetype" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boIssue" nillable="true" type="q62:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToIssuetypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromIssuetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boIssuetype" nillable="true" type="q63:BOIssuetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromIssuetypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetLoginResult" nillable="true" type="q64:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boLogin" nillable="true" type="q65:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boLogin" nillable="true" type="q66:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="LoginCollectionResult" nillable="true" type="q67:ArrayOfBOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boLogin" nillable="true" type="q68:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="LoginCollectionFromSearchFieldsResult" nillable="true" type="q69:ArrayOfBOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boLogin" nillable="true" type="q70:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetRoleResult" nillable="true" type="q71:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q72:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q73:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="RoleCollectionResult" nillable="true" type="q74:ArrayOfBORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q75:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="RoleCollectionFromSearchFieldsResult" nillable="true" type="q76:ArrayOfBORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q77:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Role_TechnicianCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q78:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Role_TechnicianCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Role_TechnicianCollectionResult" nillable="true" type="q79:ArrayOfBOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicianToRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q80:BORole" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boTechnician" nillable="true" type="q81:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTechnicianToRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTechnicianFromRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boRole" nillable="true" type="q82:BORole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTechnicianFromRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetStaffResult" nillable="true" type="q83:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q84:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q85:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="StaffCollectionResult" nillable="true" type="q86:ArrayOfBOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q87:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="StaffCollectionFromSearchFieldsResult" nillable="true" type="q88:ArrayOfBOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q89:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Staff_IssueCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q90:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Staff_IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Staff_IssueCollectionResult" nillable="true" type="q91:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q92:BOStaff" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boIssue" nillable="true" type="q93:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boStaff" nillable="true" type="q94:BOStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetTechnicianResult" nillable="true" type="q95:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q96:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q97:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="TechnicianCollectionResult" nillable="true" type="q98:ArrayOfBOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TechnicianCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q99:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="TechnicianCollectionFromSearchFieldsResult" nillable="true" type="q100:ArrayOfBOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q101:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TechnicianCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TechnicianCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_IssueCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q102:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_IssueCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Technician_IssueCollectionResult" nillable="true" type="q103:ArrayOfBOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_LoginCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q104:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_LoginCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Technician_LoginCollectionResult" nillable="true" type="q105:ArrayOfBOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_VisitationCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q106:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Technician_VisitationCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="Technician_VisitationCollectionResult" nillable="true" type="q107:ArrayOfBOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q108:BOTechnician" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boIssue" nillable="true" type="q109:BOIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueToTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q110:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllIssueFromTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginToTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q111:BOTechnician" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boLogin" nillable="true" type="q112:BOLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoginToTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllLoginFromTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q113:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllLoginFromTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisitationToTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q114:BOTechnician" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="_boVisitation" nillable="true" type="q115:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisitationToTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllVisitationFromTechnician">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boTechnician" nillable="true" type="q116:BOTechnician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllVisitationFromTechnicianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="GetVisitationResult" nillable="true" type="q117:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boVisitation" nillable="true" type="q118:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewVisitationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boVisitation" nillable="true" type="q119:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisitationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisitationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="VisitationCollectionResult" nillable="true" type="q120:ArrayOfBOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitationCollectionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionFromSearchFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boVisitation" nillable="true" type="q121:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionFromSearchFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="VisitationCollectionFromSearchFieldsResult" nillable="true" type="q122:ArrayOfBOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionFromSearchFieldsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" minOccurs="0" name="boVisitation" nillable="true" type="q123:BOVisitation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitationCollectionFromSearchFieldsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitationCollectionFromSearchFieldsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>