HelpDeskManager.UI/Service References/HelpDeskManagerService/HelpDeskManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelpDeskManager.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BODepartment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BODepartment" nillable="true" type="tns:BODepartment" />
  <xs:complexType name="HelpDesk_BaseBusiness">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="HelpDesk_BaseBusiness" nillable="true" type="tns:HelpDesk_BaseBusiness" />
  <xs:complexType name="ArrayOfBODepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BODepartment" nillable="true" type="tns:BODepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBODepartment" nillable="true" type="tns:ArrayOfBODepartment" />
  <xs:complexType name="ArrayOfBOIssue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOIssue" nillable="true" type="tns:BOIssue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOIssue" nillable="true" type="tns:ArrayOfBOIssue" />
  <xs:complexType name="BOIssue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Departmentid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Staffid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Statusid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Technicianid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Typeid" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOIssue" nillable="true" type="tns:BOIssue" />
  <xs:complexType name="ArrayOfBOStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOStaff" nillable="true" type="tns:BOStaff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOStaff" nillable="true" type="tns:ArrayOfBOStaff" />
  <xs:complexType name="BOStaff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Departmentid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Designationid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOStaff" nillable="true" type="tns:BOStaff" />
  <xs:complexType name="BODesignation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BODesignation" nillable="true" type="tns:BODesignation" />
  <xs:complexType name="ArrayOfBODesignation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BODesignation" nillable="true" type="tns:BODesignation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBODesignation" nillable="true" type="tns:ArrayOfBODesignation" />
  <xs:complexType name="ArrayOfBOTechnician">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOTechnician" nillable="true" type="tns:BOTechnician" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOTechnician" nillable="true" type="tns:ArrayOfBOTechnician" />
  <xs:complexType name="BOTechnician">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Designationid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Roleid" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOTechnician" nillable="true" type="tns:BOTechnician" />
  <xs:complexType name="BOIssueStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOIssueStatus" nillable="true" type="tns:BOIssueStatus" />
  <xs:complexType name="ArrayOfBOIssueStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOIssueStatus" nillable="true" type="tns:BOIssueStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOIssueStatus" nillable="true" type="tns:ArrayOfBOIssueStatus" />
  <xs:complexType name="BOIssuetype">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOIssuetype" nillable="true" type="tns:BOIssuetype" />
  <xs:complexType name="ArrayOfBOIssuetype">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOIssuetype" nillable="true" type="tns:BOIssuetype" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOIssuetype" nillable="true" type="tns:ArrayOfBOIssuetype" />
  <xs:complexType name="BOLogin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Technicianid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOLogin" nillable="true" type="tns:BOLogin" />
  <xs:complexType name="ArrayOfBOLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOLogin" nillable="true" type="tns:BOLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOLogin" nillable="true" type="tns:ArrayOfBOLogin" />
  <xs:complexType name="BORole">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BORole" nillable="true" type="tns:BORole" />
  <xs:complexType name="ArrayOfBORole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BORole" nillable="true" type="tns:BORole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBORole" nillable="true" type="tns:ArrayOfBORole" />
  <xs:complexType name="ArrayOfBOVisitation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOVisitation" nillable="true" type="tns:BOVisitation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOVisitation" nillable="true" type="tns:ArrayOfBOVisitation" />
  <xs:complexType name="BOVisitation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HelpDesk_BaseBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="Arrived" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Departed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Staffid" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOVisitation" nillable="true" type="tns:BOVisitation" />
</xs:schema>